body { margin: 0; }
:root {
  --color-primary: lightskyblue;
  --color-secondary: white;
  --color-text-on-primary: white;
  --color-text-on-secondary: black;
  --font-primary: Times New Roman, Georgia, serif;
    }

body {
  font-family: var(--font-primary);
}

.authentification {
  display: flex;
}

.authentification__panneau-formulaire {
  flex: 1;
}

.authentification__panneau-marque {
  flex: 1;
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
}

button {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
}

